<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Responsive Navbar</title>
   
  </head>
  <body>
    <nav>
      
      <label for="check" class="checkbtn">
        
      </label>
      <label class="logo">VS Academy</label>
      <ul>
        <li><a href="#" routerLinkActive="active">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Course</a></li>
        <li><a href="#">Mentors</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      </ul>
    </nav>
    <section></section>
  </body>
</html>
