<html>
<head>
    <title>Login Form</title>
    
</head>
    <body>
    <!-- <img src="book.jpg" class="image"> -->
    <div class="login-box">
    <img src="avatar.png" class="avatar">
        <h1>Login Here</h1>
            <form>
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" name="submit" value="Login">
            <p> <a routerLink="/forgetpassword" routerLinkActive="active">Forget Password</a>
                <br><br> 
             </p>
                    <a routerLink="/signup" routerLinkActive="active"><input type="create" name="signup" value="signup"></a>
            </form>
        
        
        </div>
    
    </body>
</html>